# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

node/build/
node/firebase_admin_sdk_service_account/

# Directory created by dartdoc
doc/api/

